.article
{
    max-width: 90%;
    width: 900px;
    margin: auto;
    background: var(--first);
    box-shadow: var(--shadow_max);
    padding: var(--gap_3) var(--gap_2);
    display: flex;
    flex-direction: column;
    gap: var(--gap_2);
}
.article u
{
   color:rgb(198, 16, 16);
}